@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Indie+Flower&family=Permanent+Marker&family=Rokkitt:wght@500&family=Yanone+Kaffeesatz&display=swap');

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: #46180fff;
    font-family: "Permanent Marker";
    display: grid;
    grid-template-columns: 300px auto;
   }
   #atom_logo {
    border-radius: 90%;
    border: 5px solid #111619ff;
   }
   nav {
    display: flex;
    justify-content: space-around;
    
   }
body { 
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 20px;
    text-align: center;
    font-family: "Rokkitt";
    background-color: rgba(29, 25, 26, 0.678);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Permanent Marker";
    color: #f1ecceff;;
    background-color: #46180fff;
  }
