body {
    background-color: 
    #fca6c9;
    color: white;
    font-size: 20px;
}
.alt_text {
    color: black;
}
#active {
    background-color: white;
    color: steelblue;
}
#quote_1 {
    font-size: .75em;
    margin: 10px auto;
}
#attribution {
    font-size: 1em;
}
div {
    text-align: center;
    display: block;
    width: 40%;
    margin: 10px auto;
  }
* {
}
ol {
    text-align: left;
    margin: 10px auto;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}
h1:hover {
    color: black;
    }
h1 {
    color: white;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    }
img {
    width: 18%;
    display: block;
    margin: 3% auto;
}
p {
    width:    20%;
    padding: 10px;
    margin:  24px auto;
    color: white;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
footer div {
    width: 20%;
    font-size: .75em;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}